<div id="issue_select">
  <%= form_tag("/issues", :method => :get) do %>
    <%= collection_select(:issue, :issue_id, Issue.all, :id, :title,{:prompt => "Select an Issue"}, {:class => "custom_select", :title => "Select an Issue"}) %>
  <% end %>
</div>