<div class="content_wrap">
  <h2>Edit Article</h2>
  <%= render :partial => 'articles/form', :locals => {:button_text => "Edit Article"} %>
  <%= link_to 'Cancel', :back, :class => "cancel_link" %>
</div>
