<div class="content_wrap">
  <% if @issue %>
  <h2>Setup New Article for <%= @issue.title %></h2>
  <% else %>
  <h2>Setup New Article</h2>
  <% end %>
  <%= render :partial => 'articles/form', :locals => {:button_text => "Create Article"} %>
  <%= link_to 'Cancel', :back, :class => "cancel_link" %>
</div>