<div class="banner_featured_article">
  <%= image_tag(fa.article_image.url(:featured_thumb)) %>
  <div class="red">Featured</div>
  <h3><%= fa.title %></h3>
  <div><%= fa.sub_title %></div>
  <%= link_to "Read More", fa.article_url, :target => "_blank" %>
</div>