<% content_for :title do %>
  The nation's only magazine dedicated identifying and helping prevent fraud, abuse and overpayment.
<% end %>

<% content_for :banner do %>
  <%= render :partial => 'pages/index_banner', :locals => { :issue => @issue } %>
<% end %>

<h3 class="articles_header red">Articles</h3>

<div id="article_boxes" class="clearfix">
  <%= render :partial => 'pages/color_boxes', :locals => { :issue => @issue } %>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=hcinsight"></script>
  <script type="text/javascript" charset="utf-8">
  var addthis_config = {"data_track_clickback":true};
    $(document).ready(function() {
      form.customSelect();
      ajax.indexSelectTrigger();
    });
  </script>
<% end %>