<%= render :partial => 'layouts/footer_nav' %>
<div id="linkback">
  <%= link_to image_tag("hci_footer_link.png", :alt => "HealthCare Insight"), "http://www.hcinsight.com", :target => "_blank" %>
</div>