<%= render :partial => 'layouts/footer_nav' %>
<div id="linkback">
  <%= link_to image_tag("verisk_footer_link.png", :alt => "Verisk Health"), "http://www.veriskhealth.com", :target => "_blank" %>
</div>