<div class="footer_nav">
	<ul>
	  <li><%= link_to "Contact Us", "" %></li>
	  <% if current_admin %>
	    <li><%= link_to "Logout", logout_path %></li>
	    <li><%= link_to "Dashboard", dashboard_path %></li>
	  <% else %>
	    <li><%= link_to "Admin", login_path %></li>
	  <% end %>
	</ul>
</div>