<div id="header_color_blocks">
  <div class="color_block yellow"></div>
  <div class="color_block green"></div>
  <div class="color_block red"></div>
  <div class="color_block blue"></div>
  <div class="color_block purple"></div>
  <div class="color_block brown"></div>
</div>
<%= link_to raw("<h1>Profiler Magazine</h1>"), root_path, :id => 'logo', :class => "hide_text" %>
