<%= render :partial => 'layouts/header_color_blocks' %>
<%= link_to raw("<h1>Profiler Magazine</h1>"), root_path, :id => 'logo', :class => "hide_text" %>
<%= render :partial => 'issues/issue_selector' %>
<div id="subscribe_button">
  <span>Get Profiler Free!</span> <%= link_to "Subscribe", subscribe_path, :class => "btn_small" %>
</div>